@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  background-color: blueviolet;
}
#someText {
  text-align: center;
  font-size: xx-large;
  display: none;
}
#mainTicTacToeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 1px 1px; */
  grid-template-areas: "tic0 tic1 tic2" "tic3 tic4 tic5" "tic6 tic7 tic8";
  width: 50%;
  margin: auto;
  border: 5px solid violet;
  border-radius: 15px;
}
.child {
  align-self: center;
  justify-self: center;
  text-align: center;
  height: 10vh;
  padding-top: 5vh;
  font-size: xx-large;
  width: 100%;
  cursor: pointer;
  /* border-radius: 15px; */
}
.child:hover {
  background-color: pink;
}
.tic0 {
  grid-area: tic0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.tic1 {
  grid-area: tic1;
  border-right: 2px solid black; 
  border-bottom: 2px solid black; 
}

.tic2 {
  grid-area: tic2;
  border-bottom: 2px solid black;
}

.tic3 {
  grid-area: tic3;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.tic4 {
  grid-area: tic4;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.tic5 {
  grid-area: tic5;
  border-bottom: 2px solid black;
}

.tic6 {
  grid-area: tic6;
  border-right: 2px solid black;
}

.tic7 {
  grid-area: tic7;
  border-right: 2px solid black;
}

.tic8 {
  grid-area: tic8;
}
