@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: #6889ff;
}
.mainContainer {
  background: #6889ff;
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.landingPageText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 6.5vh;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.singlePageBox.singlePageBox {
  width: 90vw;
  height: 20vh;
  margin: 2vw auto;
  background: #000000;
  box-shadow: 1vw 1vw 1px rgba(0, 0, 0, 0.25);
}
.singlePageBox:hover {
  cursor: pointer;
}
.multiPageBox.multiPageBox {
  width: 90vw;
  height: 20vh;
  background: #000000;
  box-shadow: 1vw 1vw 1px rgba(0, 0, 0, 0.25);
}
.multiPageBox:hover {
  cursor: pointer;
}
@media screen and (max-width: 500px) /* Mobile */ {
  .singlePageBox.singlePageBox {
    margin: 2.5vh auto;
    box-shadow: 1.5vh 1.5vh 1px rgba(0, 0, 0, 0.25);
  }
  .multiPageBox.multiPageBox {
    box-shadow: 1.5vh 1.5vh 1px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 979px) /* Tablet */ {
  .singlePageBox.singlePageBox {
    margin: 2.5vh auto;
    box-shadow: 1.5vh 1.5vh 1px rgba(0, 0, 0, 0.25);
  }
  .multiPageBox.multiPageBox {
    box-shadow: 1.5vh 1.5vh 1px rgba(0, 0, 0, 0.25);
  }
}
